/*****************************************************************************
  WorkshopNotes
******************************************************************************/


@import '../../bower_components/bourbon/dist/_bourbon.scss';
@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';

/*****************************************************************************
  Variables
******************************************************************************/

// Colors

$title-color: rgba(0,160,118,0.8);
$section-body-color: gray;


// Fonts

$title-font: "Quicksand",Helvetica,Arial,sans-serif;
$section-title-font: "Montserrat", Helvetica, sans-serif;
$section-body-font: "Montserrat", Helvetica, sans-serif;





/*****************************************************************************
  Base Styles
******************************************************************************/


html,
body {
	margin:0;
	padding: 0;
	font-size: 18px;
	font-family: $section-body-font;

}


a:link{
	color: blue;
	text-decoration: none;
}

a:visited {
	color: blue;
	text-decoration: none;
}

@mixin list-unstyled {
	margin:0;
	padding: 0;
	list-style-type: none;
}



/*****************************************************************************
  Layout Styles
******************************************************************************/

.allContent {
	width: 960px;
	margin: 0 auto;
}




/*****************************************************************************
  Module Styles
******************************************************************************/

.mainHeader {
	text-align: center;
	margin: 1em auto;
	border-bottom: 1px solid #eeeeee;

	.siteTitle {
		margin:0 auto;
		padding: 0;
		color: $title-color;
		font-family: $title-font;
		font-size: 2.5em;

	}

	.sectionsLinks {

		ul {
			@include list-unstyled;
			margin: 1em 0;

			li {
				display: inline;
				margin: 0 0.2em 0 0;
			}

		}
	}
}

.section-container {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 2em;

	.section-header {
		font-family: $section-title-font;
		font-size: 1.5em;
	}
	.section-main {
		font-family: $section-body-font;
		
	}
	.section-topics-level_01 {
		@include list-unstyled;
		color: black;

		.section-topics-level_02 {
			color: $section-body-color;
		}

	}

}






